body {
    background: #000000;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:rgb(255, 255, 255);
    margin: 0;
    padding: 0;
  }
  .swiper-container {
    width: 100%;
    padding-top: 85px;
    padding-bottom: 6.3rem;
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 375px;
    height: 530px;
    background: #fff;
  }